* {
    margin: 0;
    padding: 0;
/*    box-sizing: border-box;*/
}

body {
    margin-top: 20px;
    font-family: sans-serif;
}

.Big-container {
    border: solid 2px black;
    line-height: 1.5;
    width: 900px;
    margin: 0 auto;
    position: relative;
    padding: 20px;
}

h1 {
    background-color: #f7f7f7;
    text-align: center;
    padding: 15px 0;
}

h1, h2 {
    text-transform: uppercase;
    font-size: 22px;
}

h2 {
    margin-top: 20px;
}

.price {
    font-size: 20px;
    color: black;

}

.shipping {
    text-transform: uppercase;
    font-size: 12px;
    color: #777;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

    a:hover {
        text-decoration: underline;
    }

ul {
    list-style: square;
    margin-left: 50px;
    margin-bottom: 15px;
}

.button {
    color: white;
    background-color: black;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    padding: 15px;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    /*    margin-top: 15px;*/
}

    .button:hover {
        color: black;
        background-color: #f7f7f7;
    }

p {
    line-height: 1.5;
    margin-bottom: 15px;
}

li {
    margin-bottom: 10px;
}

/* FLEXBOX CONTAINER */
.flex-container {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: space-between;
}

/* Image Container */
.image-container {
    flex: 0 0 auto; 
}

/* Price & Details - Take up remaining space */
.price-information,
.product-detail {
/*    flex: 1; */
}

/* Price and Shipping in one row */
.price-flex {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
}

/* Color Options */
.color-boxes {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.box {
    width: 25px;
    height: 25px;
/*    display: inline-block;*/
    border: 1px solid #000;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.black {
    background-color: black;
}

.sale {
    text-transform: uppercase;
    color: #444;
    background-color: yellow;
    font-size: 15px;
    padding: 5px 5px;
    display: inline-block;
    position: absolute;
    top: -15px;
    left: -22px;
    letter-spacing: 2px;
}
