@section Styles {
    <link rel="stylesheet" href="~/css/Challenge.css" />
}

<div class="Big-container">
    <article>

        <p class="sale">Sale</p>
        <h1>Converse Chuck Taylor All Star Low Top</h1>

        <!-- Flexbox container -->
        <div class="flex-container">
            <!-- Image -->
            <div class="image-container">
                <img src="~/images/challenges.jpg"
                     width="200"
                     height="210"
                     alt="Shoes Pic" />
            </div>

            <!-- Price & Color Options -->
            <div class="price-information">
                <div class="price-flex">
                    <p class="price"><strong>$65.00</strong></p>
                    <p class="shipping">Free Shipping</p>
                </div>
                <p>Ready to Dress Up Or Down, these classic canvas are an everyday wardrobe staple.</p>
                <a href="#">More Information &rarr;</a>

                <div class="color-boxes">
                    <div class="box red"></div>
                    <div class="box green"></div>
                    <div class="box yellow"></div>
                    <div class="box blue"></div>
                    <div class="box black"></div>
                </div>
            </div>

            <!-- Product Details -->
            <div class="product-detail">
                <h2>Product Detail</h2>
                <ul>
                    <li>Lightweight, durable canvas sneaker</li>
                    <li>OrthoLite insole for cushioning</li>
                    <li>Iconic All Star ankle patch</li>
                </ul>
            </div>
        </div>

        <button class="button">Add to Cart</button>
    </article>
</div>
