@section Styles {
    <link rel="stylesheet" href="~/css/Challenge.css" />
}

<div class="container">
    <article>
        <p class="sale">Sale</p>
        <h1>Converse Chuck Taylor All Start Low Top</h1>
        <img src="~/images/challenges.jpg"
             width="175"
             height="175"
             alt="Shoes Pic" />
        <br />
        <p class="price"><strong>$65.00</strong></p>
        <p class="shipping">Free Shipping</p>
        <p>
            Ready to Dress Up Or Down, these classic canvas are an everyday
            wardrobe staple.
        </p>

        <a href="#">More Information&rarr;</a>
        <br />
        <div class="box red"></div>
        <div class="box green"></div>
        <div class="box yellow"></div>
        <div class="box blue"></div>
        <div class="box black"></div>


        <h2>Product Detail</h2>
        <ul>
            <li>LightWeight,duruble canvas sneaker</li>
            <li>LightWeight,duruble canvas sneaker</li>
            <li>LightWeight,duruble canvas sneaker</li>
        </ul>

        <button class="button">Add to Cart</button>
    </article>
</div>