
<article>
<h1>Converse Chuck Taylor All Start Low Top</h1>
<img src="~/images/challenges.jpg"
     width="175"
     height="175"
     alt="Shoes Pic"/>
<br />
    <p><strong>$65.00</strong></p>
<p>Free Shipping</p>

<p>
    Ready to Dress Up Or Down, these classic canvas are an everyday
    wardrobe staple.
</p>

<a href="#">More Information&rarr;</a>

<h2>Product Detail</h2>
<ul>
    <li>LightWeight,duruble canvas sneaker</li>
    <li>LightWeight,duruble canvas sneaker</li>
    <li>LightWeight,duruble canvas sneaker</li>
</ul>

<button>Add to Cart</button>
</article>