<link href="~/css/FlexBox.css" rel="stylesheet" />


<div class="container">

    <div class="cards">

        <div class="crad1 card">
            <h1>Card 1</h1>
            <p>This is a simple Card layout</p>
        </div>

        <div class="crad2 card">
            <h1>Card 2</h1>
            <p>FlexBox makes layout easy</p>
        </div>

        <div class="crad3 card">
            <h1>Card 2</h1>
            <p>Want to larn FlexBox by making layouts</p>
        </div>

        <div class="crad4 card">
            <h1>Card 4</h1>
            <p>FlexBox iss used to maake Layout</p>
        </div>

    </div>
   
</div>