@section styles {
    <link href="~/css/practiceStyle.css" rel="stylesheet" />
}


    <div class="color-container">
        <div class="color red">HTML</div>
        <div class="color blue">CSS</div>
        <div class="color yellow">are</div>
        <div class="color black">to</div>
        <div class="color blueV">best</div>
        <div class="color green">languages</div>
    </div>
